.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .kpi {
            flex: 5;
            height: 120px;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            .title {
                font-size: 1.4rem;
                color: #999;
                line-height: 1.5;
                text-align: center;
                font-weight: 600;
            }
        }
        .total_ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: self-start;
            flex: 8;
            .total_value {
                font-size: 3rem;
                color: #333;
                line-height: 1.5;
                margin: 2% 0;
            }
            .total_title {
                font-size: 1.8rem;
                color: #999;
                line-height: 1.5;
                text-align: center;
                font-weight: 600;
            }
        }
    }

    .content {
        padding: 10px 0;
        font-size: 1.6rem;
        margin-top: 2%;
        color: #999;
    }

    .content_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .total {
            font-size: 2.8rem;
            color: #333333;
            line-height: 1.5;
            padding: 0 10px 0 0;
            flex: 3;
        }

        .statistic {
            flex: 7;
            padding: 0 0 0 10px;
        }
    }

    .last_revenue {
        display: flex;
        gap: 20px;
    }
    .last_item {
        font-size: 1.4rem;
        color: #999;
        line-height: 1.5;
        text-align: center;
        font-weight: 600;
    }

    .last_title {
        line-height: 1.5;
    }

    .last_value {
        font-weight: 600;
    }

    .yesterday {
        color: #fe0000;
    }

    .last_week {
        color: #fd8d14;
    }

    .last_month {
        color: #9f0d7f;
    }
}
.visible {
    display: block;
}
.total_revenue {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
    line-height: 1.5;
}
