.dialog {
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: center;
    margin: 8% 0 0 0;
    align-items: center;
    font-size: 12rem;
    color: #6eccaf;
}

.dialog_notice {
    font-size: 2rem;
    width: 80%;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto; /* Để căn giữa theo chiều ngang */
}

.btns {
    display: flex;
    list-style: none;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 60px;
    color: #fff;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.back_to_cart {
    background-color: var(--primary-color);
}

.order_detail {
    background-color: #f7c04a;
}

@media (max-width: 500px) {
    .dialog {
        min-width: 200px;
        min-height: 300px;
    }

    .dialog_notice {
        font-size: 1.8rem;
    }
}
