.wrapper {
    background-color: #fff;
    padding: 10px;
}

.notications_empty {
    background-color: #fff;
    padding: 20px;
}

.message {
    font-size: 1.4rem;
    color: #333;
}

.hide {
    display: none;
}

.notifications {
    background-color: #fff;
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(
            180deg,
            rgba(var(--background-start-rgb), 0) 9%,
            rgba(var(--background-end-rgb), 0.1)
        );
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(
            180deg,
            rgba(39, 102, 241, 0.5),
            rgba(59, 161, 242, 0.5),
            rgba(81, 216, 145, 0.5),
            rgba(225, 244, 62, 0.5)
        );
    }
}
