.title {
    font-size: 2rem;
    color: #333;
    padding: 0 10px 10px 10px;
    font-weight: 600;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    flex-direction: row;
}
.table_orders {
    margin-top: 10px;

    .tableCell {
        font-size: 1.4rem;
    }
}
