.wrapper {
    padding: 10px 20px;
    position: relative;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    h3 {
        text-transform: uppercase;
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 400;
        margin-left: 10px;
    }
}

.ismanager {
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 90px;
}

.manager {
    background-color: #5da7db;
}

.customer {
    background-color: #e8aa42;
}

.null {
    color: red;
    font-weight: 500;
}

.btn_add_new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    border-radius: 4px;
    color: rgb(0, 223, 162);
    background-color: rgba(0, 223, 162, 0.2);
    border: 1px solid rgb(0, 223, 162);
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;

    .btn_icon {
        font-size: 2rem;
        margin-right: 8px;
    }
}

.table {
    margin-top: 0px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    object-fit: cover;
}

// Dialog
.dialog_add_user {
    padding: 10px 20px;
    width: 40vw;
}

.dialog_title {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    padding-top: 10px;
}

.input {
    width: 100%;
    color: #333;
    margin-top: 20px;
}

.label {
    font-size: 1.6rem;
    color: #333;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
}

.avatar {
    display: flex;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        margin: 10px 0;
        overflow: hidden;
        object-fit: cover;
    }

    .edit_avatar {
        margin-right: 20px;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-transform: capitalize;
            font-size: 1.4rem;
            cursor: pointer;
            width: 120px;
            height: 30px;
            border-radius: 6px;
        }

        input[type='file'] {
            visibility: hidden;
            width: 0px;
            height: 0px;
            cursor: pointer;
        }

        .icon {
            margin-right: 6px;
        }
    }
}

.form_radio {
    display: flex;
    margin-bottom: 20px;
}

.radio {
    input[type='radio'] {
        display: none;

        &:checked ~ label::after {
            border-color: var(--primary-color);
        }

        &:checked ~ label::before {
            content: '';
            position: absolute;
            left: 5px;
            bottom: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
    }

    label {
        position: relative;
        font-size: 1.2rem;
        color: #555;
        padding: 4px 20px 4px 30px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 3px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #b3b3b3;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.btn_close {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #ced4da;
    }

    .btn_icon {
        font-size: 2rem;
        color: #555;
    }
}

.hidden {
    display: none;
}

.icon_password {
    color: #333;
    cursor: pointer;
    margin: 0 8px;
}

.tab_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    // margin-top: 20px;
}

.tab_item {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 1.4rem;
    color: #333;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.tab_active {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
}

.nodata {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nodata_label {
    padding: 10px 20px;
    border: 1px solid #687eff;
    background-color: rgba(104, 126, 255, 0.5);
    border-radius: 4px;
    color: #687eff;
}
