.heading {
    display: flex;
    font-size: 1.9rem;
    padding: 0 0 0.5% 0;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.btn_back {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #555;
    flex: 1;
    cursor: pointer;

    p {
        margin-left: 4px;
    }
}

.order_code {
    font-weight: 400;
    color: #555;
    padding-right: 8px;
    border-right: 1px solid #555;
}

.order_status {
    font-weight: 400;
    color: var(--primary-color);
    margin-left: 8px;
}

.body {
    display: flex;
    padding: 10px 0;
    background-color: #fff;
    flex-direction: column;
}

.left {
    width: 35%;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.right_title,
.left_title {
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    margin-bottom: 20px;
}

.name {
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
}

.phone,
.address {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

.right {
    width: 65%;
    padding: 10px;
}

.product_list {
    list-style: none;
}

// product Item
.product_item {
    padding: 10px 0;
    display: flex;
    // cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    flex-direction: row;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    width: 200px;
   // background-color: #17a42c;
    height: 150px;
    // border: 1px solid #f2f2f2;
    cursor: pointer;
    img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }
}

.action {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // margin-left: 10px;
    // cursor: pointer;
    // border: 1px solid #f2f2f2;
    // width: 30px;
    // height: 30px;
    // border-radius: 50%;
    // transition: all 0.3s ease-in-out;
}

.content_voucher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    height: 150px;
    // background-color: #e1ffe5;
    border-radius: 0 10px 10px 0;
}

.product_body {
    display: flex;
    flex-direction: column;
    flex: 4;
    font-size: large;
    // margin: 0 8px;
    // flex: 1;
}

.get_voucher {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: large;
    justify-content: center;
    align-items: center;
    //  padding: 15px 10px;
    //  background-color: #aaffb7;
    border-radius: 0 10px 10px 0;
    // margin: 0 8px;
    // flex: 1;

    .btn_get_voucher {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        height: 40px;
        background-color: #f7b244;
        border-radius: 5px;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #ff9f00;
        }
    }
}

.price {
    font-size: 1.4rem;
    // color: var(--primary-color);
    // font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.old_price {
    font-size: 0.2rem !important;
    color: #999;
    text-decoration: line-through;
}

.new_price {
    color: #e94646;
    font-weight: 500;
}

.total_price_item,
.product_name {
    flex: 1;
    color: #076900;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: justify;
    line-height: 1.3;
}

.quantity,
.author {
    line-height: 1.6;
    font-size: 1.6rem;
    color: #333;
}
// End product Item

// Summary
.summary_list {
    list-style: none;
}

.summary_item {
    display: flex;
    text-align: right;
    font-size: 1.4rem;
    color: #444;
    border-bottom: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.009);
}

.label {
    width: 60%;
    padding: 15px;
    border-right: 1px solid var(--border-color);
}

.value {
    width: 40%;
    padding: 15px;
}

.total_price {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
}

// Responsive
@media (max-width: 1023px) {
    .hide_on_tablet_mobile {
        display: none;
    }

    .body {
        flex-direction: column;
    }

    .left {
        width: 100%;
        border: none;
    }

    .right {
        width: 100%;
    }
}

// Mobile
@media (max-width: 500px) {
    .heading {
        flex-direction: column;
        line-height: 1.9;
    }

    .order_code {
        padding: 0;
        border: none;
    }

    .order_status {
        margin-left: 0;
    }
}
