.wrapper {
    padding: 10px 20px;
    margin-bottom: 100px;
    width: 100%;
}

.widgits {
    display: flex;
    gap: 20px;
}

.chart {
    display: flex;
    margin-top: 10px;
    gap: 20px;

    .left,
    .right {
        background-color: #fff;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px 10px 20px 10px;
        border-radius: 8px;
    }

    .left {
        flex: 2;
    }
    .right {
        flex: 4;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .income_title {
            font-size: 1.4rem;
            color: #333;
            font-weight: 400;
        }

        .filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            color: #333;
            width: 150px;
            height: 30px;
            border: 1px solid #eee;
            padding: 0 10px;
            cursor: pointer;
        }
    }
}

.table {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
}
