.btn_add_new {
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 223, 162, 0.2);
    border: 1px solid rgb(0, 223, 162);
    margin-right: 10px;
    .btn_icon_set {
        font-size: 3rem;
        color: rgb(0, 223, 162);
    }
    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 223, 162, 0.5); /* Đặt box-shadow khi hover */
    }
}
.btn_no_loaded {
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(155, 159, 143, 0.297);
    border: 1px solid rgba(78, 79, 77, 0.541);
    margin-right: 10px;
    .btn_icon_set {
        font-size: 3rem;
        color: rgb(103, 103, 95);
    }
    &:hover {
        box-shadow: 0px 0px 10px rgba(71, 75, 73, 0.5); /* Đặt box-shadow khi hover */
    }
}
