.widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    border-radius: 8px;
}

.right {
    .title {
        font-size: 1.4rem;
        color: gray;
        text-transform: uppercase;
        line-height: 1.5;
        font-weight: 400;
    }

    .value {
        font-size: 3rem;
        color: #333;
        line-height: 2;
    }

    .see_all {
        font-size: 1.4rem;
        color: #0a6ebd;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
        line-height: 1.5;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.result {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #16ff00;
}

.title_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

.users {
    background-color: rgba(239, 98, 98, 0.5);
    color: rgb(239, 98, 98);
}

.orders {
    background-color: rgba(243, 170, 96, 0.5);
    color: rgb(243, 170, 96);
}

.earnings {
    background-color: rgba(159, 13, 127, 0.5);
    color: rgb(159, 13, 127);
}

.reviews {
    background-color: rgba(26, 93, 26, 0.5);
    color: rgb(26, 93, 26);
}

.reduce {
    color: #fe0000;
}
