.wrapper {
    padding: 40px;
    background-color: #fff;
}

.fillter {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #cdcfd0;
}

.fillter_arange {
    display: flex;
    align-items: center;

    p {
        font-size: 1.4rem;
        color: #000;
        margin-right: 10px;
    }
}

.filter_num_product {
    margin-left: 20%;
}

.product_list {
    padding: 20px 0;
}

.bottom {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

// On Tablet
@media (min-width: 500px) and (max-width: 1023px) {
    .wrapper {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        padding: 10px;
    }

    .fillter {
        display: flex;
        flex-direction: column;
    }

    .filter_num_product {
        margin-left: 25%;
        margin-top: 10px;
    }
}
