.wrapper {
    padding: 40px;
}

.product_detail {
    display: flex;
    background-color: #fff;
    padding: 30px 16px;
    border-radius: var(--border-radius);
}

.product_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 484px;
}

.product_thumnail {
    width: 388px;
    height: 388px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.product_btn {
    display: flex;
    align-items: center;
    Button {
        width: 220px;
        height: 44px;
        margin: 8px 6px;
    }
}

.product_right {
    padding-top: 10px;
    padding-left: 36px;
    padding-right: 36px;
}

.product_name {
    font-size: 2.2rem;
    padding-bottom: 16px;
    line-height: 1.6;
    color: #333;
}

.manu_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origin,
.brand,
.manufacturer_name {
    font-size: 1.3rem;
    color: #333;
    line-height: 1.8;
}

.manufacturer_name {
    a {
        color: #2489f4;
        font-weight: 600;
        margin-left: 4px;
    }
}

.origin,
.brand {
    min-width: 264px;

    span {
        color: #333;
        font-weight: 600;
        margin-left: 4px;
    }
}

.rate {
    display: flex;
    align-items: center;
}

.rate_star {
    font-size: 1.2rem;
    color: #e3e5e5;
}

.star_active {
    color: #f6a500;
}

.rate_number {
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #f6a500;
}

.mid_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 16px 0;
}

.price {
    display: flex;
    align-items: center;
}

.current_price {
    font-size: 3.2rem;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.5;
}

.old_price {
    margin-left: 8px;
    padding-left: 5px;
    color: #0d0e0f;
    text-decoration: line-through;
}

.discount {
    margin-left: 10px;
    padding: 5px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.btn_share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-left: 100px;
}

.policy_lie,
.shipping {
    display: flex;
    font-size: 1.3rem;
    color: #000;
    line-height: 2;

    p {
        min-width: 150px;
    }

    &:last-child {
        width: 100px;
    }

    a {
        margin-left: 4px;
        color: #2489f4;
        font-weight: 600;
    }
}

.policy_lie {
    a {
        margin-right: 80px;
    }
}

.quantity {
    display: flex;
    align-items: center;
    padding: 8px 0;

    .label {
        min-width: 150px;
        color: #333;
        font-size: 1.6rem;
        font-weight: 650;
    }
}

.quantity_btn {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;

    /* Chrome, Safari, Edge, Opera */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

.quantity_num {
    text-align: center;
    width: 46px;
    color: #0d0e0f;
    font-weight: 700;
    font-size: 1.6rem;
}
.btn_minus,
.btn_plus {
    color: #adadad;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn_minus {
    padding: 0 8px 0 16px;
}

.btn_plus {
    padding: 0 16px 0 8px;
}

// introduction
.introduction {
    margin-top: 16px;
    background-color: #fff;

    h3 {
        font-size: 1.7rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        padding: 30px 15px;
    }
}

// infomation
.infomation {
    margin-top: 16px;
    background-color: #fff;

    h3 {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        padding: 30px 15px;
    }
}

.product_info {
    margin: 15px;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 15px;
    p,
    span {
        font-size: 1.4rem;
    }

    p {
        line-height: 1.5;
        color: #333;
        text-align: justify;
    }

    span {
        color: var(--primary-color);
        font-weight: 400;
        line-height: 1.5;
    }
}

.table_info {
    font-size: 1.4rem;
    color: #777;

    th {
        text-align: left;
        font-weight: 400;
        min-width: 300px;
    }
    td,
    th {
        padding: 6px 6px 6px 0;
    }
}

.description {
    padding: 15px;
    font-size: 1.4rem;

    h5 {
        font-size: 1.4rem;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    p {
        line-height: 2.1;
        text-align: justify;
        white-space: 4;
    }
}

// Rating
.rating_product {
    padding: 20px;
    margin-top: 16px;
    background-color: #fff;
    border-radius: var(--border-radius);

    h3 {
        font-size: 2rem;
        color: #333;
        font-weight: 700;
    }
}

.rating_body {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 10px;
}

.list_rate {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 130px;

    .current_rate {
        display: flex;
        font-size: 5.2rem;
        padding: 20px;

        p {
            font-size: 2.6rem;
            text-align: right;
            margin-top: 8px;
        }
    }

    span {
        font-size: 1.4rem;
    }
}

.rate_number {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 6px;
    color: #7a7e7f;
}

.rate_percent {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 20px;
}

.rate_percent_item {
    display: flex;
    align-items: center;
    height: 24px;
    text-transform: lowercase;

    p {
        font-size: 1.7rem;
        color: #333;
    }
}

.review_rating {
    margin: 0 10px;
    width: calc(100% - 115px);
    height: 5px;
    background-color: #e6e6e6;

    div {
        height: 100%;
        width: 10%;
        background-color: #f6a500;
    }
}

.nologin {
    font-size: 13px;
    color: #333;
    margin-right: 100px;
    line-height: 1.5;

    a {
        text-transform: lowercase;
        color: #2489f4;
        margin: 0 4px;
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

// btn on moblie
.btn_on_mobile {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: calc(56px + env(safe-area-inset-bottom, 0));
    background-color: #fff;
    box-shadow: 0px -2px 4px #0000001a;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;

        &:first-child {
            border-right: 1px solid #cdcfd0;
        }

        &:last-child {
            background-color: var(--primary-color);
        }
    }

    .quantity_btn {
        border: none;
        border-radius: 0;
    }

    p {
        font-size: 1.43rem;
        font-weight: 700;
        text-align: center;
    }

    .add_to_cart {
        line-height: 1.2;
        color: var(--primary-color);
        display: flex;
        flex-direction: column;
    }

    .buy_now {
        color: #fff;
    }
}

// comments
.comments {
    width: 100%;
    padding-top: 20px;
}

.comments_tab {
    display: flex;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #cdcfd0;
}

.comments_tab_item {
    font-size: 1.4rem;
    color: #646464;
    font-weight: 400;
    padding: 5px 0;
    margin-right: 40px;
    cursor: pointer;

    &:hover {
        font-weight: 500;
        color: var(--primary-color);
    }
}

.comments_tab_active {
    font-weight: 500;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.list_comment {
    max-height: 1000px;
    overflow-y: scroll;
}

.comments_inner {
    display: flex;
    padding-top: 20px;
}

.comments_left {
    min-width: 172px;
}

.comments_user {
    display: flex;
    align-items: flex-end;
    margin: 4px 0;

    .user_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name {
        font-size: 1.43rem;
        font-weight: 600;
        color: #333;
    }
}

.comments_day {
    font-size: 1.2rem;
    color: #7a7e7f;
    font-weight: 400;
    margin: 4px 0;
}

.comments_likes {
    display: flex;
    align-items: flex-end;
    font-size: 1.43rem;
    color: #7a7e7f;
}

.like_icon {
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 4px;
}

.liked {
    color: var(--primary-color);
}

.like_total {
    margin-left: 4px;
}

// Dialog
.dialog_add_to_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 270px;
    z-index: 1;

    img {
        width: 155px;
        height: 155px;
        margin: 20px 0;
    }
}

.dialog_success {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #fbfbfb;
    line-height: 1.5;
}

.option_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.btn {
    padding: 6px;
    font-size: 1.3rem;
    color: #fff;
    background-color: #f7941e;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color);
    }
}

.hide {
    display: none;
}

.btn_evaluate {
    width: 40%;
}

// Dialog Nologin
.dialog_nologin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 150px;
}

.dialog_nologin_message {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #333;
}

.btn_to_login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;

    &:hover {
        opacity: 0.8;
    }

    p {
        font-size: 1.4rem;
        color: #333;
        color: #fff;
        margin: 0 4px;
    }
}

.btn_cancel_logins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #c1c1c1;
    font-size: 1.4rem;
    color: #333;

    &:hover {
        opacity: 0.8;
    }
}

// Responsive
/* Mobile and Tablet */
@media (max-width: 1023px) {
    .hide_on_tablet_mobile {
        display: none;
    }

    .wrapper {
        padding: 10px 0px;
    }

    .product_detail {
        flex-direction: column;
        justify-content: center;
    }

    .product_left {
        width: 100%;
        justify-content: center;
    }

    .product_name {
        font-size: 1.56rem;
    }

    .product_btn {
        width: 100%;
        justify-content: space-between;
        Button {
            margin: 8px 8px;
        }

        &:nth-child(2) {
            margin-right: 100px;
        }
    }

    .nologin {
        text-align: center;
        width: 100%;
    }

    .policy_lie,
    .shipping {
        justify-content: space-between;
    }

    .policy_lie {
        a {
            margin-right: 0px;
        }
    }

    .rate {
        .btn_share {
            margin-left: 70%;
        }
    }

    .comments_inner {
        flex-direction: column;
        width: 100%;
    }

    .comments_left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn_evaluate_tl-mb {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }
}

/* Small Tablet */
@media (min-width: 400px) and (max-width: 600px) {
    .wrapper {
        padding: 10px 20px;
    }

    .policy_lie {
        a {
            margin-right: 0px;
        }
    }
}

// On Tablet
@media (min-width: 500px) and (max-width: 1023px) {
    .wrapper {
        padding: 20px;
    }

    .btn_on_mobile {
        width: 80%;
        left: 10%;
        right: 10%;

        .rate_percent_item {
            width: 400px;
        }

        li {
            &:nth-child(2) {
                width: 260%;
            }
        }

        .add_to_cart {
            flex-direction: row;

            span {
                margin-right: 4px;
            }
        }
    }
}

/* Mobile*/
@media (max-width: 500px) {
    .hide_on_mobile {
        display: none;
    }

    .wrapper {
        padding: 10px;
    }

    .product_detail {
        padding: 0;
    }

    .rate_percent_item {
        width: 234px;
    }

    .nologin {
        a {
            width: 100px;
        }
    }

    .rate {
        padding: 0;
        .btn_share {
            margin-left: 34%;
        }
    }

    .current_price {
        font-size: 2.6rem;
    }

    .product_right {
        padding: 10px;
    }

    .table_info {
        th {
            min-width: 80px;
        }
    }

    .product_thumnail {
        width: 350px;
        height: 350px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 390px) {
    .rate_percent_item {
        width: 180px;
    }

    .rate_percent {
        padding: 10px;
    }

    .list_rate {
        width: 110px;

        .current_rate {
            font-size: 4.2rem;
            padding: 10px;

            p {
                font-size: 2.6rem;
                text-align: right;
                margin-top: 8px;
            }
        }
    }
}

/* On Pc */
@media (min-width: 1024px) {
    .hide_on_pc {
        display: none;
    }

    .rate_percent_item {
        width: 340px;
    }
}
