.wrapper {
    padding: 20px;
    position: relative;
}
.head {
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    font-size: 2.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.btn_close {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #ced4da;
    }

    .btn_icon {
        font-size: 2rem;
        color: #555;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ced4da;
    margin: 10px 0;
}

.top {
    display: flex;
    flex-direction: row;
    margin: 0 0;
    height: 630px;
}

.infomation {
    position: relative;
    flex: 4;
}
.bottom,
.pending,
.infomation {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.btnEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4%;
    top: 0;
    right: 0;
    background-color: rgba(160, 132, 232, 0.25);
    color: #a084e8;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 4px;
}

.title {
    font-size: 2.7rem;
    color: gray;
    line-height: 1.5;
    font-weight: 500;
    margin: 20px 0 20px 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.top_content {
    flex: 3;

    flex-direction: row;
    align-items: center;
    display: flex;
    .avatar {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2% 2% 0;
    }
    .info {
        flex: 7;
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        font-weight: 500;
        color: #333;
        .name {
            font-size: 2.5rem;
            font-weight: 500;
            color: #333;
            max-height: 10rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.4;
        }
        .code_flash {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 5% 0 0 0;
        }
    }
}

.description {
    margin-left: 10px;
    min-height: 300px;
    flex: 7;
    display: flex;
    flex-direction: row;
    .body_description {
        max-height: 300px; /* Thay đổi kích thước tối đa theo ý muốn */
        overflow-y: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2% 0 0;
    }
}

.info_other {
    font-size: 1.74rem;
    color: #999;
    line-height: 2;
    white-space: wrap;
}

.pending {
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 20px;
    height: 100%;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    margin-top: 20px;
}

// Dialog
.dialog {
    padding: 10px;
    width: 600px;
}

.dialog_title {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
}

.dialog_content {
    display: flex;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.images {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10% 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn_channge {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        color: #fff;
        text-transform: capitalize;
        font-size: 1.4rem;
        line-height: 1.8;
        cursor: pointer;

        input[type='file'] {
            visibility: hidden;
            width: 0px;
            height: 0px;
            cursor: pointer;
            background-color: #fff;
        }

        label {
            cursor: pointer;
        }
    }
}

.right {
    flex: 7;
    margin-left: 20px;
    padding-right: 20px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--border-color);
        object-fit: cover;
    }

    .name {
        margin-left: 10px;
        font-size: 1.4rem;
        color: #333;
    }
}

.form_group {
    margin-bottom: 10px;

    input[type='text'] {
        width: 100%;
        height: 35px;
        border: 1px solid #ced4da;
        padding: 0 10px;

        &:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }
}

.error {
    input[type='text'] {
        border-color: rgb(201, 33, 39);
        &:focus {
            border-color: rgb(201, 33, 39);
            box-shadow: 0 0 0 0.2rem rgba(201, 33, 39, 0.25);
        }
    }
}

.label {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.error_message {
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--primary-color);
}

.btn_edit {
    display: flex;
    justify-content: center;

    margin: 20px 0;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    object-fit: cover;
}
