.content {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 2% 0;
    width: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    margin: 0 1% 0 0.5%;
}

// .voucher {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
//     margin: 2% 0;
//     background-color: #b3f1cf;
// }
.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4% 5%;
    border-radius: 5px;
    background-color: #fff;
}

.product_item {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    // height: 15vh;
    background-color: #fff;
    // padding: 2% 0;

    .content_voucher {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 4% 2%;
        border-right: 1px solid #f2f2f2;
    }

    .thumbnail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 60px;
        padding: 0 2%;
        border-right: 1px solid #f2f2f2;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.total-price {
    display: flex;
    flex-direction: column;
    flex: 6;
    width: 100%;

    span {
        background-color: black;
        height: 0.5px;
        width: 100%;
        opacity: 20%;
        margin: 4% 0;
    }
}

.total-price-title {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: 2.4rem;
    font-weight: 600;
}

.total-price-contain {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.8rem;
    width: 100%;
    span {
        background-color: black;
        height: 0.5px;
        width: 45%;
        opacity: 20%;
        margin: 2% 0 1% 0;
    }
}

.total-price-total {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin: 2% 0;
    width: 100%;

    .total-price-contain-title {
        flex: 5;
    }

    .total-price-contain-value {
        flex: 5;
        text-align: end;
    }
}

.total-price-total-final {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin: 4% 0 0 0;
    width: 100%;
    font-size: 2rem;
    flex-wrap: wrap;

    font-weight: 600;
    .total-price-contain-title-final {
        flex: 5;
    }

    .total-price-contain-value-final {
        flex: 5;
        text-align: end;
        color: red;
    }
}

.btn-checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #c92127;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 7% 0 0 0;
    cursor: pointer;
}
