.wrapper {
    padding: 20px;
}

.nologin {
    background-color: #fff;
}

.hide {
    display: none;
}

.account {
    display: flex;
}
// Left
.left {
    width: 25%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.heading {
    font-size: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 18px 20px;
    border-bottom: 2px solid #f6f6f6;
}

.feature_list {
    list-style: none;
    padding: 20px 0px;
}

.feature_item {
    padding: 10px 0;
    color: #646464;
    font-size: 1.3rem;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
    }
}

.active {
    color: #bf9a61;
}

// Right
.right {
    margin-left: 15px;
    width: 75%;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

// Responsive
@media (max-width: 1023px) {
    .hide_on_tablet_mobile {
        display: none;
    }

    .account {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .right {
        margin-left: 0;
    }

    .left {
        box-shadow: none;
        border: none;
    }
}
