.wrapper {
    --btn-width: 72px;
    --input-width: 586px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 100;
}

.loading {
    background-color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #3e82c0;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 100%;
}

.logo {
    width: 100%;
    height: 36px;
}

.tools {
    display: flex;
    align-items: center;
}

.menu_dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon_menu {
    img {
        width: 36px;
        height: 36px;
    }
}

.icon_seemore {
    margin-right: 8px;

    img {
        width: 16px;
        height: 16px;
    }
}

.search_result {
    width: 586px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 586px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    input {
        font-size: 1.4rem;
        font-weight: 500;
        color: #333;
        caret-color: #333;
        width: calc(100% - var(--btn-width));
        padding: 0 28px 0 24px;

        &::placeholder {
            color: #666;
        }
    }
}

.clear_icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #ccc;
    font-size: 1.4rem;
}

.search_btn {
    position: absolute;
    right: 4px;
    width: var(--btn-width);
    height: 30px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 20px;
    }
}

.tools_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification,
.cart,
.account {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;

    img {
        width: 24px;
        height: 24px;
    }

    label {
        font-size: 1.2rem;
        color: #7a7e7f;
        margin-top: 6px;
    }

    .num_carts {
        position: absolute;
        right: 10px;
        top: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 1rem;
    }
}

// Search Results
.search_content {
    padding: 24px 12px 6px 12px;
}

// Suggesstions
.suggestions {
    width: 100%;
}

.suggestions_heading {
    display: flex;
    align-items: center;
    width: 100%;

    h3 {
        flex: 1;
        font-size: 1.6rem;
        color: #333;
        font-weight: 600;
        margin-left: 8px;
    }

    img {
        color: #333;
        width: 20px;
        height: 20px;
    }
}

.suggestions_list {
    margin: 10px 0;
    border-radius: 4px;
}

.suggestions_item {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    img {
        width: 50px;
        height: 50px;
    }

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 1.4rem;
        color: #333;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.search_heading {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: #fff2cd;
    border-radius: var(--border-radius);
    cursor: pointer;

    h3 {
        flex: 1;
        color: #f02d1b;
        font-weight: 400;
        font-size: 1.6rem;
        text-justify: 8;
        line-height: 1.5;
    }
}

.keywords_hot {
    margin-top: 12px;
    padding-bottom: 14px;
}

.hot_heading {
    display: flex;
    align-items: center;

    h3 {
        flex: 1;
        font-size: 1.6rem;
        color: #333;
        font-weight: 600;
        margin-left: 8px;
    }

    img {
        color: #333;
        width: 20px;
        height: 20px;
    }

    .rorate_icon {
        font-size: 1.4rem;
        cursor: pointer;
    }

    .history_icon {
        color: #111;
    }

    .btn_delete_all {
        font-size: 1.3rem;
        color: var(--primary-color);
        cursor: pointer;
    }
}

// notifiction
.notice_item {
    display: flex;
    padding: 16px;
    cursor: pointer;

    &:hover {
        background-color: #f7f9fa;
    }
}

.notice_icon {
    position: relative;
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .notice_no_read {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #f63b2f;
        border-radius: 50%;
    }
}

.notice_body {
    margin-left: 10px;
    line-height: 1.3;
}
.notice_title {
    display: -webkit-box;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.notice_content {
    display: -webkit-box;
    font-size: 1.3rem;
    color: #7a737f;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

// notice empty
.notice_empty {
    padding: 16px;
    min-height: 50px;

    p {
        font-size: 1.4rem;
        color: #7a7e7f;
    }
}

// History Search
.history_list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
}

.history_item {
    display: flex;
    font-size: 1.3rem;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    .btn_delete {
        font-size: 1.2rem;
        margin-left: 10px;
        color: #ccc;
        cursor: pointer;
    }
}

.keywords_list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

.keywords_item {
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding: 4px;
    margin-top: 8px;
    cursor: pointer;

    label {
        display: -webkit-box;
        width: 124px;
        font-size: 1.3rem;
        color: #7a7e7f;
        line-height: 1.8rem;
        height: 3.6rem;
        font-weight: 400;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    img {
        width: 47px;
        height: 49px;
    }
}

.category_hot {
    padding-bottom: 16px;
}

.hot_heading {
    margin-top: 12px;
}

.category_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}

.category_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    cursor: pointer;

    label {
        display: -webkit-box;
        width: 124px;
        font-size: 1.3rem;
        color: #7a7e7f;
        line-height: 1.8rem;
        height: 3.6rem;
        margin-top: 8px;
        font-weight: 400;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    img {
        width: 47px;
        height: 49px;
    }
}

// Popper Notication No Login
.popper_noti_nologin {
    margin-top: 6px;
    width: 264px;
}

.noti_nologin_content {
    max-height: 380px;
    overflow-y: hidden;
}

.noti_nologin_heading {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #dadde1;

    h3 {
        font-size: 1.6rem;
        color: #333;
        margin-left: 8px;
        flex: 1;
    }

    .seeall_notices {
        font-size: 1.43rem;
        color: #2489f4;
        font-weight: 500;
        cursor: pointer;
    }
}

.noti_nologin_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;

    p {
        text-align: center;
        color: #333;
        padding: 8px 0 24px 0;
        line-height: 1.4;
    }

    img {
        width: 80px;
        height: 80px;
        margin: 24px;
    }
}

// Account NoLogin
.account_nologin {
    margin-top: 6px;
    width: 252px;
}

.account_nologin_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 12px 12px 12px;
}

// Menu Popper
.menu_popper {
    width: 1230px;
    margin-left: 55px;
    max-height: 50vh;

    &::-webkit-scrollbar {
        width: 5px;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(
            180deg,
            rgba(var(--background-start-rgb), 0) 9%,
            rgba(var(--background-end-rgb), 0.1)
        );
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(39, 102, 241, 0.5);
    }
}

.categories {
    padding: 12px;
    margin-top: 10px;
    display: flex;
}

.categories_name_list {
    list-style: none;
    width: 340px;
    padding-right: 12px;
    border-right: 1px solid #cdcfd0;

    h2 {
        padding: 0 12px;
        margin-bottom: 16px;
        color: #7a7e7f;
        font-size: 2.3rem;
    }
}

.categories_name_item {
    padding: 16px 12px;
    border-radius: var(--border-radius);
    color: #212121;
    font-weight: 600;
    word-spacing: 3px;
    line-height: 1.5;
    cursor: pointer;
    margin: 4px 0;

    &:hover {
        background-color: #f2f4f5;
    }
}

.active_on-pc {
    background-color: #f2f4f5;
}

.categories_content {
    margin-left: 24px;
}

.category_title {
    display: flex;
    align-items: center;
    margin: 5px 0 24px 0;

    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    h2 {
        font-size: 2.3rem;
        color: #212121;
    }
}

.categories_list {
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.categories_item {
    margin: 12px 0;
    width: 200px;
    h4 {
        font-size: 1.4rem;
        color: #333;
        margin: 12px 0;
    }
}

.categories_list_child {
    list-style: none;
    margin-bottom: 20px;

    p {
        font-size: 1.3rem;
        color: #2489f4;
        font-weight: 500;
        padding-top: 8px;
        cursor: pointer;
        margin-bottom: 24px;
    }
}

.categories_child_item {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 5px 0 0;
    color: #666;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {
        color: #bf9a61;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

// Menu on Tablet and Mobile
.menu_on-tablet_mobile {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f2f4f5;
    animation: moveMenu 0.3s linear;
    z-index: 999999;
}

.heading {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    height: 54px;
    background-color: var(--primary-color);

    h3 {
        text-align: center;
        flex: 1;
        font-size: 1.8rem;
    }
}

.close_menu {
    cursor: pointer;
    padding: 16px;
}

.menu_tablet_mobile_content {
    height: 100%;
    background-color: #f2f4f5;
    display: flex;
}
.menu_tablet_left_content {
    width: 84px;
}
.left_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 2px;
    border-left: 4px solid transparent;
    margin: 10px 0;
    cursor: pointer;
    background-color: #fff;

    img {
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 1.6rem;
        color: #000;
        text-transform: capitalize;
        font-weight: 300;
        text-align: center;
        margin-top: 8px;
    }
}

.active {
    background-color: #f7f9fa;
    border-color: var(--primary-color);

    p {
        color: var(--primary-color);
        font-weight: 500;
    }
}
.menu_tablet_right_content {
    flex: 1;
    padding: 4px;
}

.content_menu_item,
.all_product {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 2px 12px;
    margin-bottom: 4px;
    border-radius: 4px;

    p {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #333;
        flex: 1;
    }

    .see_more_menu_item {
        font-size: 1.3rem;
        color: #2489f4;
        text-transform: capitalize;
        font-weight: 400;
        padding: 12px 0;
        cursor: pointer;
    }
}
.content_menu_icon,
.all_product_icon {
    width: 32px;
    height: 36px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    cursor: pointer;
}

.content_menu_list {
    list-style: none;
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(
            180deg,
            rgba(var(--background-start-rgb), 0) 9%,
            rgba(var(--background-end-rgb), 0.1)
        );
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(39, 102, 241, 0.5);
    }
}

.content_menu_item {
    flex-wrap: wrap;
}

.content_menu_child_list {
    display: none;
    width: 100%;
    list-style: none;
}

.content_menu_child_item {
    display: flex;
    align-items: center;
    padding: 2px 0;
    border-bottom: 1px solid #dadde1;
    a {
        font-size: 1.3rem;
        color: #212121;
    }

    .child_item_name {
        flex: 1;
        text-transform: capitalize;
    }
}

.more_content {
    p {
        color: var(--primary-color);
    }

    .content_menu_icon {
        background: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_triangle_red_up.svg')
            no-repeat center center;

        img {
            display: none;
        }
    }

    .content_menu_child_list {
        display: block;
    }
}

@keyframes moveMenu {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hide {
    display: none;
}

.home {
    display: none;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 800;
}

.btn_facebook {
    margin-top: 10px;
}

// Responsive
/* Mobile and Tablet */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }

    .content {
        justify-content: center;
        width: 100%;
    }

    .icon_menu {
        background: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu_white.svg') no-repeat
            center center;
        height: 34px;
        width: 34px;
        margin-right: 5px;

        img {
            display: none;
        }
    }

    .icon_seemore {
        display: none;
    }

    .search {
        padding: 0;
        width: 50rem;
        height: 33px;
        border: none;
        border: 1px solid #7a7e7f;

        input {
            font-weight: 500;
            color: #333;
            caret-color: #333;
            width: 100%;
            height: 100%;
            border-radius: 4px;

            &::placeholder {
                color: #666;
            }
        }
    }

    .search_result {
        width: 50rem;
        margin-top: 6px;
    }

    // Search Results

    .search_heading {
        h3 {
            flex: 1;
            color: #f02d1b;
            font-weight: 400;
            text-justify: 8;
        }
    }
    .hot_heading {
        display: flex;
        align-items: center;

        h3 {
            flex: 1;
            color: #333;
            font-weight: 600;
            margin-left: 8px;
        }

        img {
            color: #333;
            width: 20px;
            height: 20px;
        }

        .rorate_icon {
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
    .keywords_item {
        background-color: #f7f9fa;
        margin-left: 10px;
        border-radius: 4px;
        width: 218px;
        label {
            width: 100%;
            margin-left: 4px;
        }

        img {
            width: 47px;
            height: 49px;
        }
    }

    .cart,
    .account {
        img {
            display: none;
            width: 24px;
            height: 24px;
        }

        label {
            display: none;
        }
    }

    .notification,
    .cart,
    .account {
        .num_carts {
            background-color: #2ed62e;
            border: 1px solid #fff;
        }
    }
}

.logo-tablet {
    width: 130px;
    height: 35px;
    object-fit: contain;
    margin-top: 10px;
    animation: hideLogo 0.5s ease-in-out;
}

@keyframes hideLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Small Tablet */
@media (min-width: 400px) and (max-width: 600px) {
    .search {
        max-width: 48rem;
        input {
            font-weight: 500;
            color: #333;
            caret-color: #333;
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

    .search_result {
        width: 28rem;
        margin-left: 0px;
    }
    .suggestions {
        width: 100%;
    }
}

/* Mobile*/
@media (max-width: 500px) {
    .search {
        max-width: 28rem;
        input {
            font-weight: 500;
            color: #333;
            caret-color: var(--primary-color);
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

    .search_result {
        width: 28rem;
        margin-left: 0px;
    }

    .category_item {
        label {
            width: 80px;
        }
    }

    .suggestions {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .search {
        max-width: 24rem;
    }
}

@media (max-width: 390px) {
    .search {
        max-width: 22rem;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .logo {
        display: none;
    }

    .home {
        display: block;
    }
}

/* On Pc */
@media (min-width: 1024px) {
    .hide-on-desktop {
        display: none;
    }

    .wrapper {
        width: 100%;
    }

    .content {
        padding: 0 20px;
    }
}
