@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #c92127;
    --text-color: #7b7b7b;
    --background-color: #f0f0f0;
    --border-color: #f2f4f5;

    --border-radius: 9px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scrollbar-width: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
}

a,
input,
[tab-index],
button {
    text-decoration: none;
    outline: none;
    border: none;
}

.ant-picker-dropdown,
.ant-select-dropdown {
    z-index: 100000000;
}

.ant-btn-primary {
    background-color: #1677ff;
}

.tippy-admin,
.scroll-custom,
.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-rounded,
.MuiPaper-elevation24,
.MuiDialog-paper,
.MuiDialog-paperScrollPaper,
.MuiDialog-paperWidthSm,
.css-1t1j96h-MuiPaper-root-MuiDialog-paper,
body {
    &::-webkit-scrollbar {
        width: 5px;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(
            180deg,
            rgba(var(--background-start-rgb), 0) 9%,
            rgba(var(--background-end-rgb), 0.1)
        );
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(
            180deg,
            rgba(39, 102, 241, 0.5),
            rgba(59, 161, 242, 0.5),
            rgba(81, 216, 145, 0.5),
            rgba(225, 244, 62, 0.5)
        );
    }
}

.slick-dots li button {
    background-color: #666 !important;
}

.slick-active {
    background-color: #c92127 !important;
}

.ant-tabs-nav {
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100vh;
}

.ant-notification-notice-description {
    margin-left: 60px;
}

.ant-notification-notice-message {
    margin-left: 60px;
}

.ant-notification-notice-icon {
    top: 6px;
}
