@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #c92127;
    --text-color: #7b7b7b;
    --background-color: #f0f0f0;
    --border-color: #f2f4f5;

    --border-radius: 9px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scrollbar-width: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
}

body::-webkit-scrollbar {
    display: none;
}

a,
input,
[tab-index],
button {
    text-decoration: none;
    outline: none;
    border: none;
}
