.wrapper {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

.content {
    width: 100%;
}

.notice {
    font-size: 1.4rem;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 20px 0 20px;
    line-height: 1.5;
}

.dialog_end_session_login {
    position: relative;
    padding-bottom: 20px;
}

.btn_pass {
    position: absolute;
    bottom: 10px;
    left: 23%;
}

// Responsive
/* Mobile and Tablet */
@media (max-width: 1023px) {
    .container {
        margin-top: 0px;
    }
}

/* Mobile*/
@media (max-width: 500px) {
    .btn_pass {
        left: 11%;
    }
}

/* On Pc */
@media (min-width: 1024px) {
}
